<nav>
    <div id="logo">
        <h1>Photographer</h1>
        <hr>
    </div>
    <div id="list">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/bio-about">About</a></li>
            <li><a routerLink="/portfolio">Portfolio</a></li>
            <li><a href="#">Experience</a></li>
            <li><a href="#">Info</a></li>
            <li><a href="#">Testimonials</a></li>
        </ul>
    </div>
    <hr>
    <div id="btn">
        <button routerLink="/contact-register">Contact Us</button>
    </div>
</nav>
