nav{
    background-color: white;
    padding: 20px 0px;
}

#list ul, #btn{
  display: flex;
  justify-content: center;
}

ul li {
  list-style: none;
  margin: 10px 15px;
}

ul li a{
    text-decoration: none;
    font-family: 'Mate', serif;
    font-size: 20px;
    color: black;
    transition: all 0.2s ease-in-out;
}

ul li a:hover{
    color: rgb(197, 135, 64);
    transition: all 0.2s ease-in-out;
}

#logo h1{
    font-family: 'Sofia', cursive;
    font-size: 40px;
    text-align: center;
    /* margin: 20px 0px; */
}

#btn button{
    width: 180px;
    height: 45px;
    border: unset;
    color: aliceblue;
    background-color: rgb(76, 76, 76);
    transition: all 0.2s ease-in-out;
    font-size: 17px;
    font-family: 'Mate', serif;
}

#btn button:hover{
    background-color: rgb(114, 113, 113);
    transition: all 0.2s ease-in-out;
}