
    <main id="pictures" class="img--container">
        <div><a routerLink="detail/1"><img src="./assets/img/pic_landscape_pf.jpg"  alt="lscp"></a>
            <p class="img--txt"><br>Beautiful landscapes</p>
        </div>
        <div><a routerLink="detail/2"> <img src="./assets/img/concerts_pf.jpg" alt="live"></a>
            <p class="img--txt"><br>Live concert photography</p>
        </div>
        <div><a routerLink="detail/3"><img src="./assets/img/art_pf.jpg"  alt="art"></a>
            <p class="img--txt"><br>Arts photography</p>
        </div>
        
        
    </main>
